@model CarBrand
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_SharedAdminLayout.cshtml";
}

<form class="form-horizontal form-label-left" novalidate action="/Admin/CarBrand/Update" method="post">

    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">
            Brand Name <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="name" class="form-control col-md-7 col-xs-12" name="BrandName" required="required" type="text" value="@Model.BrandName">
        </div>
    </div>

    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Description">
            Description <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea id="textarea" required="required" name="Description" class="form-control col-md-7 col-xs-12" >@Model.Description</textarea>
        </div>
    </div>

    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
            <button type="button" class="btn btn-primary" onclick="window.location='/Admin/CarBrand/List';return false;">Cancel</button>
            <input type="hidden" value="@Model.Id" name="Id" />
            <button id="send" type="submit" class="btn btn-success">Update</button>
        </div>
    </div>
</form>
